body{
    border: 20px solid #927f8c;
    background-color: #ead9c5;
    margin: 0;
}

header{
    background-image: url(./coding\ ex/headerpic.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100px;
}

h1{
    margin-top: 0px;
    height: 60px;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Gentium Book Basic';
    font-style: italic;
    font-size: 40px;
}
h2{
    margin-top: 0px;
    text-align: center;
    font-family: 'Gentium Book Basic';
    font-style: italic;
}
.description{
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 50pt;
    font-family: 'Signika';
    font-weight: 500;
}
.profileimage{
    padding-left: 70px;
    margin-top: 20px;
    padding-right: 300px;
}
.projects{
    justify-content: center;
    display: flex;
    margin-top: 40px;
    font-family: 'Gentium Book Basic';
    font-size: 27px;
    margin-bottom: 40px;
}
footer{
    background-image: url(./coding\ ex/footerpic.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.icon{
    margin: 30px;
}
a{
    text-align: center;
    margin-left: 45px;
}